{% extends "base.html" %}
{% block content %}

<h1> Topics </h1>

<button type="button" class="btn btn-primary" id="show_form">New Topic</button>

<form method="post" action="{{base_path}}/topics" id="new_topic_form" class="hidden">
  <div class="form-group">
    <label>Title</label>
    <input type="text" name="title" class="form-control" placeholder="Write the title of your topic here">
  </div>
  <div class="form-group">
    <label>Message</label>
    <textarea name="message" class="form-control col-sm-4" rows="5" placeholder="Write content of your message here"></textarea>
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-primary">Create new topic</button>
      <button type="button" class="btn btn-warning hidden" id="hide_form">Hide form</button>
  </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>member</th>
            <th>topic</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>
      {% for topic in topics %} 
        <tr>
          <th><a href="{{base_path}}/members/{{topic.user_id}}">{{topic.username}}</th>
          <th><a href="{{base_path}}/topics/{{topic.id}}">{{topic.title}}</th>
          <th>{{topic.published}}</th>
        </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}
