{% extends "base.html" %}
{% block content %}

<h1>{{topic.title}}</h1>

<form method="post" action="{{base_path}}/tags" class="form-inline">
  <input type="hidden" name="topic_id" value={{topic.id}}>
  {% for tag in topic.tags %}
    <button type="button" class="btn btn-info btn-xs">{{tag.name}}</button>
  {% endfor %}
  <div class="input-group input-group-sm">
    <input list="tags" name="name" class="form-control" placeholder="tag">
    <datalist list id="tags">
      {% for tag in tags %}
        <option value={{tag.name}}>
      {% endfor %}
    </datalist>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-warning">+</button></span>
  </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>member</th>
            <th>message</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>
      {% for msg in messages %}
        <tr>
            <th><a href="{{base_path}}/members/{{msg.user_id}}">{{msg.username}}</th>
            <th>{{msg.content}}</th>
            <th>{{msg.published}}</th>
        </tr>
      {% endfor %}
    </tbody>
</table>

{% if current_user %}
  <form method="post" action="{{base_path}}/topics/{{topic.id}}">
    <input type="hidden" name="topic_id" value=topic_id>
    <div class="form-group">
      <textarea name="message" class="form-control col-sm-4" rows="5" 
        placeholder="write your reply here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Reply</button>
  </form>
{% endif %}

{% endblock %}
