
.hole_background{
  background-color: black;
  background: linear-gradient(black,#151B54,black);
}


/*
.semi-transparent {
  background: rgba(255,255,255,0.5);
}
*/
#main-container{
  max-width: 1200px;
  padding: 10px 10px;
  margin: 0px auto;
  background: transparent;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}
/*
.navbar-default {
  background-color: rgba(255,255,255,0.5);
  border-color: transparent;
}
*/

.tagDelete{
  background-color:red;
  cursor:auto;
  pointer-events:auto;
}

.tagDelete:hover{
  cursor:pointer;
}

#navigation,.navbar .navbar-default{
  background-image: url('../img/rocketbanner.jpg');
  background-repeat: no-repeat;
  background-color: black;
}

body{
  max-width: 1024px;
  margin: 0 auto !important;
  float: none !important;
}
