{% extends "base.html" %}
{% block content %}

<h1>Topic</h1>
<table class="table">
    <thead>
        <tr>
            <th>member</th>
            <th>message</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th>eka viesti</th>
        <th>Miten korkealle raketin ensimmäinen vaihe lentää</th>
        <th>11.05.2016</th>
    </tr>
    <tr>
        <th>toka viesti</th>
        <th>Riippuu lähtökulmasta ja nopeudesta</th>
        <th>11.05.2016</th>
    </tr>
    </tbody>
</table>


{% endblock %}
