{% extends "base.html" %}
{% block content %}

<h1> Topics </h1>
<table class="table">
    <thead>
        <tr>
            <th>member</th>
            <th>topic</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>
      {% for topic in topics %} 
        <tr>
          <th><a href="{{base_path}}/members/{{topic.user_id}}">{{topic.username}}</th>
          <th><a href="{{base_path}}/topics/{{topic.id}}">{{topic.title}}</th>
          <th>{{topic.published}}</th>
        </tr>
      {% endfor %}
    </tbody>
</table>


{% endblock %}
