{% extends "base.html" %}
{% block content %}

<h1>Topic: {{topic.title}}</h1>
<table class="table">
    <thead>
        <tr>
            <th>member</th>
            <th>message</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>
      {% for msg in messages %}
        <tr>
            <th><a href="{{base_path}}/members/{{msg.user_id}}">{{msg.username}}</th>
            <th>{{msg.content}}</th>
            <th>{{msg.published}}</th>
        </tr>
      {% endfor %}
    </tbody>
</table>


{% endblock %}
