{% extends "base.html" %}
{% block content %}

<h1>Members</h1>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>#topics</th>
            <th>#messages</th>
            <th>member since</th>
        </tr>
    </thead>
    <tbody>
      {% for mem in members %}
        <tr>
          <td>
            <a href="{{base_path}}/members/{{mem.id}}">{{mem.username}}</a>
          </td>
          <td>{{mem.topicCount}}</td>
          <td>{{mem.msgCount}}</td>
          <td>{{mem.joined}}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>


{% endblock %}
