{% extends "base.html" %}
{% block content %}

{% if alert_message %}
  <div class="alert alert-success">
    {{alert_message}}
  </div>
{% endif %}

<h1>{{member.username}}</h1>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>#topics</th>
            <th>member since</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{member.username}}</td>
            <td>3</td>
            <td>{{member.joined}}</td>
        </tr>
    </tbody>
</table>

{% endblock %}
