{% extends "base.html" %}

{% block content %}

<h1>Signup</h1>

<form method="post" action="{{base_path}}/members">
  <div class="row">
    <div class="form-group col-xs-5">
      <label>username</label>
      <input type="text" name="username" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-5">
      <label>password</label>
      <input type="password" name="password" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-5">
      <label>repeat password</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-primary">Signup</button>
  </div>
</form>


{% endblock %}
